version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: mysql_container
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: ObligatorioBDD
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - '3307:3306'
    volumes:
      - ./mysql_data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql:ro
    command:
      [
        '--character-set-server=utf8mb4',
        '--collation-server=utf8mb4_unicode_ci',
      ]
    healthcheck:
      test: ['CMD', 'mysqladmin', 'ping', '-h', 'localhost', '-uroot', '-proot']
      interval: 5s
      timeout: 5s
      retries: 10

  backend:
    build: .
    container_name: flask_backend
    restart: always
    depends_on:
      db:
        condition: service_healthy
    ports:
      - '5000:5000'
    environment:
      MYSQL_HOST: db
      MYSQL_USER: root
      MYSQL_PASSWORD: root
      MYSQL_DB: ObligatorioBDD
      FLASK_ENV: development
      FLASK_APP: app.py
      # Locale y encoding en el contenedor
      LANG: C.UTF-8
      LC_ALL: C.UTF-8
      PYTHONIOENCODING: utf-8
    volumes:
      - .:/app
    working_dir: /app
    command: flask run --host=0.0.0.0 --port=5000 --reload
